body {
    padding: 20px;
    overflow: hidden;
}


/* b-map */

.b-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.b-map__btn-login {
    border-radius: 20px;
    border: 1px solid lightgray;
    margin-right: 40px;
    height: 40px;
    width: 40px;
    background-color: white;
}


/* b-placemark */

.b-placemark {
    font-size: 10px;
    border: 1px black solid;
}

.b-placemark__rating {
    text-align: left;
}

.b-placemark__review {
    border-top: 1px black solid;
    padding: 15px;
}

.b-placemark__review-add {
    text-align: center;
}

.b-placemark__text {
    margin-top: 5px;
    word-wrap: break-word;
}


/* b-modal */

.b-modal {
    z-index: 9999;
    position: absolute;
    display: none;
    height: 30em;
}

.b-modal.b-modal-authenticate,
.b-modal.b-modal-addPin {
    width: auto;    
}

.b-modal-addPin {
    height: 30em;
}

.b-modal-addReview {
    height: 40em;
}

.b-modal__alert {
    margin-top: 0px;
    opacity: 0.001;
    font-size: 12px;
}

.b-modal__form .b-modal__alert {
    padding: 10px;
}

.b-modal__form-review .b-modal__alert,
.b-modal__form-addPin .b-modal__alert {
    margin: 20px 0px;
}


.b-modal__form > * {
    margin: 15px 0px;
}

.b-modal .remodal-close {
    left: auto;
    right: 0
}


/* b-user */


.b-user {
    display: none;
    z-index: 9999;
    position: absolute;
    top: 60px;
    right: 15px;
}

/* b-sort */

.b-sort {
    display: none;
    z-index: 9999;
    position: absolute;
    width: 300px;
    top: 150px;
    right: 15px;
}

.b-sort__btn {  
    display: none;
    z-index: 9999;
    position: absolute;
    top: 110px;
    right: 15px;  
    width: 127px;
    text-align: center;
}

.b-sort {
    background-color: white;
    border: 1px lightgray solid;
    border-radius: 10px;
    text-align: center;
}

.b-sort .slider-range {
    margin: 10px 25px;
}

.b-sort .text_amount {
    font-weight: bold;
    margin-top: 10px;
}

.b-sort .btn {
    text-align: center;
    display: block;
    margin: 25px 40px 10px 40px;
    font-size: 14px;
}


/* other */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: auto;
    height: 150px;
    margin: auto;
}

/* Убираем градиент по бокам карусели */

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

/* Принудительно устанавливаем автоматическое определение прокрутки,
   поскольку высота балуна динамически изменяется */

ymaps[class*="balloon__content"] > ymaps {
    overflow: auto !important;
}

.tabcontrol > .steps > ul > li.last {
    margin-right: 0;
}