<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">

    <link href= "{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'remodal/dist/remodal.css' %}">
    <link rel="stylesheet" href="{% static 'remodal/dist/remodal-default-theme.css' %}">
    <link rel="stylesheet" href="{% static 'jquery.steps/demo/css/jquery.steps.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui-bootstrap/jquery.ui.theme.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>
<div class="container">
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script src="{% static 'Readmore.js/readmore.min.js' %}"></script>    
<script src="{% static 'jsrender/jsrender.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'remodal/dist/remodal.min.js' %}"></script>
<script src="{% static 'jquery.steps/build/jquery.steps.min.js' %}"></script>
<script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
<script src="{% static 'main.js' %}"></script>

</body>
</html>