{% extends "base.html" %}

{% block content %}
<div class="b-map viewMode" id="map" data-is-authenticated="{{ user.is_authenticated }}"></div>

<div class="b-user">
    <div class="b-user__username btn btn-default">{{ user }}</div>
    <div class="b-user__logout btn btn-primary">Выход</div>
</div>

<div class="b-sort__btn btn btn-default">Параметры</div>
<div class="b-sort">
    <div class="text_amount">
      Средняя оценка:
      <span id="amount">0 - 5</span>
    </div>
    <div class="slider-range"></div>
    Отображать заведения без рейтинга
    <input type="checkbox">
    <div class="btn btn-primary b-sort__submit" style="display: block;">Применить</div>
</div>

<div class="b-modal b-modal-authenticate remodal" data-remodal-options="hashTracking: false" data-remodal-id="authenticate">
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="b-modal__tabs">
        <h3>Вход</h3>
        <section>
            <form class="b-modal__form b-modal__form-login" action="#" method="POST">
                <div class="b-modal__alert alert alert-danger" role="alert">&nbsp</div>

                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="Username" required autofocus>

                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>

                <button class="btn btn-primary btn-block" type="submit">Вход</button> 
            </form>
        </section>

        <h3>Регистрация</h3>
        <section>
            <form class="b-modal__form b-modal__form-signin" action="#" method="POST">
                <div class="b-modal__alert alert alert-danger" role="alert">&nbsp</div>

                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="Username" required autofocus>

                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Email" required />

                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>

                <button class="btn btn-primary btn-block" type="submit">Регистрация</button> 
            </form>
        </section>
    </div>

</div>


<div class="b-modal b-modal-addReview remodal" data-remodal-options="hashTracking: false" data-remodal-id="addReview">
    <button data-remodal-action="close" class="remodal-close"></button>

    <h3>Добавление оценки</h3>
    <form class="b-modal__form b-modal__form-review" action="#" method="POST">
        <div class="b-modal__alert alert alert-danger" role="alert">&nbsp</div>

        <label for="rating" class="sr-only">Rating</label>
        <input type="number" id="rating" class="form-control" name="rating" placeholder="Rating" min="1" max="5" step="1" required>

        <label for="review" class="sr-only">Review</label>
        <textarea id="review" class="form-control" style="resize:none" name="review" placeholder="Review" rows="10" required autofocus></textarea>

        <button class="btn btn-primary btn-block" type="submit">Оценить</button> 
    </form>

</div>

<div class="b-modal b-modal-addPin remodal" data-remodal-options="hashTracking: false" data-remodal-id="addPin">
    <button data-remodal-action="close" class="remodal-close"></button>

    <h3>Добавление заведения</h3>
    <form class="b-modal__form b-modal__form-addPin" action="#" method="POST">
        <div class="b-modal__alert alert alert-danger" role="alert">&nbsp</div>

        <label for="name" class="sr-only">Name</label>
        <input type="text" id="name" class="form-control" name="name" placeholder="Name" required autofocus>

        <label for="address" class="sr-only">Address</label>
        <textarea id="address" class="form-control" style="resize:none" name="address" placeholder="Address" rows="4" required></textarea>

        <button class="btn btn-primary btn-block" type="submit">Добавить</button> 
    </form>

</div>

<script id="buttonTemplate" type="text/x-jsrender">
    <a data-remodal-target="authenticate" href="#"><div class="b-map__btn-login"><img src="static/images/login40.png"></div></a>
</script>

<script id="pinTemplate" type="text/x-jsrender">
<div class="b-placemark" style="opacity: 0.001;" data-shawarma-id="{?:shawarma_id?}">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="http://i.imgur.com/W8JunWq.jpg" alt="" width="460" height="345">
          </div>

          <div class="item">
            <img src="http://grilnica.ru/upload/shop_1/4/4/7/item_447/shop_items_catalog_image447.jpg" alt="" width="460" height="345">
          </div>      
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

    </div>

    {?for reviews?} {?include tmpl="#reviewTemplate"/?} {?/for?}

    <div class="b-placemark__review b-placemark__review-add">
        <a data-remodal-target="addReview" href="#"><div class="btn btn-info b-placemark__review-add-btn">Добавить оценку</div></a>
    </div>

</div>
</script>

<script id="reviewTemplate" type="text/x-jsrender">
    <div class="b-placemark__review">
        <div class="b-placemark__rating">
            <img src="static/images/{?:rating?}.png">
        </div>
        <div class="b-placemark__text"><article><b>{?:user?}</b>: {?:text?}</article></div>
    </div>
</script>
{% endblock %}
